@charset "utf-8";
/******************************************************************
This is the CSS Reset
******************************************************************/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
    -webkit-font-smoothing: antialiased;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

input {
    outline: none;
}

a {
    outline: none;
    text-decoration: none;
}

/* TEMP */

#navContainer {
    margin: 0 auto;
    width: 1140px;
    height: 40px;
    z-index: 7;
    background-color: #36a2d2;
    font-family:Verdana;
    font-size: 15px;
}

#Home{
    display: inline-block;
	height:40px;
	width:90px;
	z-index:7;
	text-align:center;
	font-weight:bold;
	padding-top:17px;
    font-weight: normal;
}

#navContainer p {
    color: white;
}

#navContainer a{
	color:white;
}
#Home:hover a{
	color: #E1A304;
}
#Home:hover{
	background-color: white;
	color: #E1A304;
}

.dataTableContainer {
    margin: 10px 0;
}

/* TEMP^ */
#header{
	position: fixed;
	z-index: 7;
    width: 100%;
    height: 55px;
    padding: 0px;
	top:0px;
	background-color: #36a2d2;
    opacity: 1;
    background-image: none;
}
#page-content{
	position:relative;
	width: 1140px;
	top:80px;
	margin-left:auto;
	margin-right:auto;
	min-height:100%;
}
/* Beginning of gallery styles */
#gallery{
	position: absolute;
	top: 0px;
	width: 600px;
	height:320px;
	border: 0px dashed #1c1c1c;
}
/*End of gallery styles - beginning of 'recommended' section styles */
#video-cat-section{
	position: absolute;
	top:95px;
	width: 520px;
	height: 225px;
	right:0px;
	border: 0px dotted #1c1c1c;
}
#movie-cat{
	position: absolute;
	width: 255px;
	height: 100%;
	left:0px;
	border: 0px dotted #1c1c1c;
}
#movie-bar{
	position:absolute;
	top:0px;
	width: 100%;
	height: 38px;
	background-color: #E4E4E4;
	opacity:0.9;
}
#tv-cat{
	position: absolute;
	width: 255px;
	height: 100%;
	right:0px;
	border: 0px dotted #1c1c1c;
}
#tv-bar{
	position:absolute;
	top:0px;
	width: 100%;
	height: 38px;
	background-color: #E4E4E4;
	opacity:0.9;
}
.browse-cat-list{
	left:7px;
	position:relative;
	font-family: Verdana;
	font-size: 12.5px;
	text-decoration: none;
	list-style:none;
	top:20px;
}
.browse-cat-list li a{
	text-decoration:none;
	color: #666666;
}
.browse-cat-list li{
	padding-bottom: 20px;
}
.browse-cat-list li a:hover{
	color: #E1A304;
	text-decoration:underline;

}
/*End of 'recommended' section styles - beginning of Sidebar styles */
#sidebar-content{
	position: absolute;
	top:350px;
	width:29%;
	height:600px;
	border:0px dotted #1c1c1c;
	right:0px;
}
#ad-box{
	position:absolute;
	top:0px;
	width: 100%;
	height: 450px;
	background-color: #E4E4E4;
	border: 1px solid #A6A6A6;
	border-radius:3px;
}
/* Content for After release -
#sidebar-content{
	position: absolute;
	top:350px;
	width:29%;
	height:800px;
	border:0px dotted #1c1c1c;
	right:0px;
}
#ad-box{
	position:absolute;
	top:0px;
	width: 100%;
	height: 130px;
	background-color: #CCE0F1;
	opacity:0.8;
}
#comment-box-header{
	position: relative;
	top:135px;
	width:100%;
	height:38px;
	background-color:#E4E4E4;
	opacity:0.9;
	border-bottom: 0px solid #E1A304
} */
/*End of Sidebar styles - beginning of category-section styles */



#movie-section{
	position:relative;
	top:350px;
	width:70%;
	height:545px;
	border: 0px dotted #1c1c1c
}
.threeColList ul{
	position:relative;
	top:60px;
	font-family: Arial;
	font-size: 11.5px;
	text-decoration:none;
	float:left;
	list-style:none;
	margin-left: 20px;
	margin-right: 12px;
	left:-10px
}
.threeColList ul li a{
	text-decoration:none;
	color: #494949;
}
.threeColList ul li{
	margin-bottom:9px;
}
.threeColList ul li a:hover{
	text-decoration: underline;
}
.threeColList{
	position:absolute;
	top: 210px;
}
.showMore{
top:295px;
position:relative;
right:1px;
color:#666666;
text-decoration:none;
font-size: 11.5px;
font-family:Verdana;
}
.showMore:hover{
	text-decoration:underline;
}
#category-list{
	position:absolute;
	top:0px;
	width: 100%;
	height: 38px;
	background-color: #E4E4E4;
	opacity:0.9;
}
ul#category-list li	{
	list-style: none;
	float: left;
}
.button 	{
position: relative;
top: 8px;
margin:0px 10px;
padding: 5px 5px;
color: #3B3B3B;
font-family: Arial;
font-size: 12.5px;
text-decoration: none;
vertical-align: middle;
border: 0px dotted #1c1c1c;
}

.active .button	{
color: #1D1D1D;

font-weight:bold;
}
.button:hover 	{
color: #2A2B2A;
}
.button:active 	{
color:#1D1D1D;
font-weight:bold;
}
.movie-display > div{
	top:41px;
	position:relative;
	float: left;
	margin-top: 2px;
	margin-bottom:5px;
}

.genre-display > div{
	top:41px;
	position:relative;
	float: left;
	margin-top: 2px;
	margin-bottom:5px;
}

#movie-title{
	color: #6D6D6E;
	font-weight: bold;
	font-family: Verdana;
	font-size: 13px;
}
#movie-title:hover{
	color:#F3A005;
}
/*End of Category styles - beginning of Genre-section styles */
#genre-section{
	position:relative;
	top:360px;
	width:70%;
	height:550px;
	border: 0px dotted #1c1c1c;
}
#genre-list{
	position:absolute;
	top:0px;
	width: 100%;
	height: 38px;
	background-color: #E4E4E4;
	opacity:0.9;

}
ul#genre-list li	{
	list-style: none;
	float: left;
}
/* Other */
#js-img-lazy {
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
}
#js-img-lazy {
	height:189px;
    width:127px;
    margin:3px 2px -1px 3px;
	border-radius:3px;
}
#js-img-lazy:hover{
	border-radius:1px;
}
.transition {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
}
#footer {
  position:relative;
  padding-top: 5px;
  background: #EFEBE8;
  top:500px;
  color: #a7a7a7;
  clear: both;
  width: 100%;
  margin-top: 20px;
  opacity:0.9;
}

#footer p {
  background: #E1A304;
  padding: 4px 0;
  text-align: center;
  display: block;
  clear: both;
  margin: 0;
  color:white;
}

#footer a {
  color: #969695;
}

#footer .wrapper {
  margin: 0 auto;
  position: relative;
  width: 1140px;
  height: 195px;
}

#footer ul {
  display: block;
  margin-bottom: 30px;
}

#footer .bottomMenu {
  border-left: 1px solid #595959;
}

#footer .bottomMenu.firstone {
  border-left: none;
  padding-left: 0;
}

#footer li {
    float: left;
    width: 120px;
    list-style: none outside none;
    margin: 6px 15px 6px 5px;
    white-space: nowrap;
    height: 15px;
    display: block;
    font-family:Verdana;
    font-weight: normal;
    font-size: 12px;
}

#footer li a {
    text-decoration:none;
    display: block;
    padding: 5px !important;
    margin: -5px 0 !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    background: #97CAF2;
    overflow: hidden;
    color: white !important;
}

#footer li a:hover {
    text-decoration: none;
    background: #36a2d2 !important;

    box-shadow: 0 1px 2px inset;
    color: white !important;
}

#footer li a:visited {
    background: #F2BF97;
}

#footer li a:active {
    background: #C4E1F8;
}

#footer h4 {
    font-size: 14px;
    margin: 0 0 5px 10px;
    text-transform: uppercase;
    color: #838383;
    font-family:Verdana;
}
.bottomMenu {
  float: left;
  display: inline-block;
  width: 280px;
  margin-bottom: 10px;
  margin-top: 20px;
}