@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
#Home{
	margin-left:auto;
	margin-right:auto;
	height:40px;
	width:90px;
	z-index:7;
	font-family:Verdana;
	text-align:center;
	font-weight:bold;
	font-size:15px;
	padding-top:17px;
}
#Home a{
	color:white;
}
#Home:hover a{
	color: #E1A304;
}
#Home:hover{
	background-color: white;
	color: #E1A304;
}
#disclaimer{
	position:absolute;
	top:5px;
	width:590px;
	height:35px;
	border:0.5px solid #1c1c1c;
	background-color:#FFF970;
	border-radius:5px;
	font-family:Verdana;
	text-align:center;
}
#header{
	position: fixed;
	z-index: 6;
    width: 100%;
    height: 55px;
    padding: 0px;
	top:0px;
	background-color: #E1A304;
    opacity: 1;
    background-image: none;
}
#page-content{
	position:relative;
	width: 1140px;
	top:80px;
	margin-left:auto;
	margin-right:auto;
	z-index:1;
	border: 0px dashed #1c1c1c;
}
.movie-container{
	top:0px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height: 380px;
	border: 0px dotted #1c1c1c
}
.movie-container #thumbnail-box{
	position: absolute;
	height: 225px;
	width: 150px;
	top: 50px;
	left: 0px;
	border: 0px dotted #1c1c1c;
}
#thumbnail-box img{
	position: absolute;
	height:100%;
	width:100%;
	border-radius:3px;
}
.movie-container #movie-ratings{
	position: absolute;
	top:280px;
	left:5px;
	height:45px;
	width:505px;
	border: 0px dotted #1c1c1c;
}
.movie-container #movie-description{
	position: relative;
	top:50px;
	margin-bottom:5px;
	left:170px;
	width:420px;
	border: 0px dotted #1c1c1c;
}
#movie-description h4{
	font-family: Trebuchet MS;
	color:#686868;
}
#movie-description p{
	font-family: Arial;
	font-size: 12px;
}
.movie-container #youtube-video{
	position: absolute;
	height: 300px;
	width: 535px;
	right:5px;
	top:5px;
	border:0px dotted #1c1c1c;
}
#sidebar-content{
	position: absolute;
	top:380px;
	width:29%;
	height:600px;
	border:0px dotted #1c1c1c;
	right:0px;
}
#ad-box{
	position:absolute;
	top:0px;
	width: 100%;
	height: 450px;
	background-color: #E4E4E4;
	border: 1px solid #A6A6A6;
	border-radius:3px;
}
#comment-box-header{
	position: relative;
	top:135px;
	width:100%;
	height:38px;
	background-color:#E4E4E4;
	opacity:0.9;
	border-bottom: 0px solid #E1A304
}
.video-list-container{
	position:relative;
	top:0px;
	bottom: 120px;
	width:69%;
	height: 525px;
	border: 0px dotted #1c1c1c;
}

#qual-head{
	padding-top:5px;
	padding-bottom:5px;
	color:white;
	text-shadow: 1px 1px #9A9A9A;
	font-size:13px;
	font-family:Verdana;
}
#vid-head{
	font-size:13px;
	font-family:Verdana;
	padding-top:5px;
	padding-bottom:5px;
	border-radius: 6px 6px 0px 0px;
	color:white;
	text-shadow: 1px 1px #9A9A9A;
}
.dataTableContainer {
  margin: 10px 0;
}
/* */
.dataTable{
  line-height: 140%;
  width: 70%;
  clear: both;
  font-family:Arial;
}

.dataTable thead tr th,.dataTable tfoot tr td{
  margin: 0;
  padding: 5px 3px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 11px !important;
  vertical-align: bottom;
}

.dataTable thead:first-child tr th{
  padding-top: 5px;
}

.dataTable thead tr .oddCell div{
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

.dataTable thead tr th{
  padding-top: 20px;
}

.dataTable tbody{
  border-top: 1px solid #b5b5b5;
}


.dataTable tbody tr {
  background-color: #FFF6E1;
}
.dataTable tbody tr:first-child{
	border-top: 1px solid #CECECE;
}
.dataTable tbody tr:hover{
  background-color: #999999;
  color: white;
  text-shadow: -1px 1px 0px #5f5f5f;
}

.dataTable tbody tr:hover a{
  color: white;
}

.dataTable tbody tr:hover.even:hover,.dataTable tbody tr:hover.odd:hover{
  background-color: #999999;
}

.dataTable tbody tr:hover td.oddCell{
  background-color: #949494 !important;
}


.dataTable tbody tr:hover .qualCell{
  color: white;
}

.dataTable tbody tr:hover .qualCell em{
  color: #dfdfdf;
}

.dataTable tbody tr td{
  padding: 5px 5px;
}

.dataTable tbody .LinkCell{
  height: 30px;
  text-decoration:none;
  font-weight:bold;
color: #848484;
}

.dataTable tbody .oddCell{
  background-color: #e7eff3;
}

.dataTable tbody .qualCell{
  font-size: 12px;
  color: #59636a;
  text-align: left;
  padding-left: 15px;
}

.dataTable thead tr,.dataTable tfoot tr{
  text-align: center !important;
}

.dataTable thead tr th,.dataTable thead tr td,.dataTable tfoot tr th,.dataTable tfoot tr td{
  color: #8e9fa8;
}

.dataTable thead tr div,.dataTable tfoot tr div{
  margin: -5px -3px !important;
  padding: 5px 3px;
}

.dataTable thead tr .oddCell div,.dataTable tfoot tr .oddCell div{
  color: white;
  background-color: #B7BFC2;
  text-shadow: -1px 1px 0 #a2b0b6;
}

.dataTable tfoot tr td {
  border-bottom: none !important;
  vertical-align: top;
}

.dataTable tfoot tr td.oddCell div{
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
}

.dataTable a{
  text-decoration: none;
  font-size:14px;
  color:#707070;
}

.dataTable a:hover{
  text-decoration: underline;
}

.dataTable tr td{
  border-bottom: 1px solid #cecece;
}

.dataTable tr td,.dataTable tr th{
  margin: 0;
  padding: 5px 3px;
}

#footer {
  position:relative;
  padding-top: 5px;
  background: #EFEBE8;
  top:250px;
  color: #a7a7a7;
  clear: both;
  width: 100%;
  margin-top: 20px;
  opacity:0.9;
}

#footer p {
  background: #E1A304;
  padding: 4px 0;
  text-align: center;
  display: block;
  clear: both;
  margin: 0;
  color:white;
}

#footer a {
  color: #969695;
}

#footer .wrapper {
  margin: 0 auto;
  position: relative;
  width: 1020px;
  height: 195px;
}

#footer ul {
  display: block;
  margin-bottom: 30px;
}

#footer .bottomMenu {
  border-left: 1px solid #595959;
  padding-left: 30px;
}

#footer .bottomMenu.firstone {
  border-left: none;
  padding-left: 0;
}

#footer li {
  float: left;
  width: 120px;
  font-size: 12px;
  list-style: none outside none;
  margin: 6px 15px 6px 5px;
  white-space: nowrap;
  height: 15px;
  display: block;
  font-family:Arial;
}

#footer li a {
	text-decoration:none;
  display: block;
  padding: 5px !important;
  margin: -5px 0 !important;
  -webkit-border-radius: 3.1px;
  -moz-border-radius: 3.1px;
  -ms-border-radius: 3.1px;
  -o-border-radius: 3.1px;
  border-radius: 3.1px;
  overflow: hidden;
}

#footer li a:hover {
  text-decoration: none;
  background: #E1A304 !important;

  box-shadow: 0 1px 2px inset;
  color: white !important;
}

#footer h4 {
  font-size: 14px;
  margin: 0 0 5px 10px;
  text-transform: uppercase;
  color: #838383;
  font-family:Arial;
}
.bottomMenu {
  float: left;
  display: inline-block;
  width: 280px;
  margin-bottom: 10px;
  margin-top: 20px;
}